@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    background: #121212;
    margin: 15px;
    margin-top: 50px;
    font-family: 'Montserrat'
}

.keep_logo{
    margin: 0 auto;
    text-align: center;
}

svg.filter-white{
    filter: invert(100%) sepia(0%) saturate(7393%) hue-rotate(29deg) brightness(97%) contrast(112%);
}

svg {
    max-width: 100%; /* image will always adapt to the width of its container */
}

.hello_message {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color:#ffffff;
}

@media (min-width: 300px){
    .hello_message { font-size: (1.25em + 1.25vw); }
}
@media (min-width: 960px){
    .hello_message { font-size: 1.25rem; }
}

.login-form,
.login-form * {
    box-sizing: border-box;
}

.login-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form_logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.login-form_logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.login-form_content {
    padding: 36px;
    background: #eeeeee;
}

.login-form_header {
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form_input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form_input:focus {
    border-color: #009578;
}

.login-form_input::placeholder {
    color: grey;
}

.login-form_button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form_button {
    background: #008067;
}

.login-form_links {
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form_link {
    font-size: 0.9em;
    color: #008067;
    text-decoration: none;
}